header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-bottom: 2px solid var(--light-blue);

  .menu {
    @include hamburger(var(--light-blue), var(--dark-blue), 35px, 30px, 6px, 3);
    padding-left: .5rem;
    padding-right: .5rem;
    margin-right: 1rem;
    display: flex;
	span {
      display: block;
    }

    @include breakpoint(xxxlarge) {
      display: none;
    }

  }

}

.logo {
  display: flex;
  width: 10rem;
  padding: 1rem;
  transition: width 400ms;

  @include breakpoint(large) {
    width: 20rem;
  }

}


